@page "{id:int}"
@model ContosoAds.Web.Pages.Ads.DeleteModel

@{
    ViewData["Title"] = "Delete Ad";
}

<h2>Are you sure you want to delete your ad?</h2>
<div>
    <h4>@Html.DisplayFor(model => model.Ad.Title)</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Description)
        </dd>
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Html.Raw(Model.Ad.ThumbnailUri)" alt="@Model.Ad.Title" class="img-fluid" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.PostedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.PostedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad.Phone)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Ad.Id"/>
        <input type="submit" value="Delete" class="btn btn-danger btn-sm"/> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>